html {
  font-family: sans-serif;
}

/* Your CSS below here */

div {
    width: 200px;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2rem; /*it was a trial and error find for me*/
    background-color: maroon;
    color: wheat;
    text-shadow: 2px 1px 5px black;
    border: 1px solid;

}

*{
  padding:0%;
  margin: 0%;
  box-sizing:border-box;

}